<!DOCTYPE html>
<html>
    <head>
        <title>Wandering Through Design - Fantasy Rankings</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/global.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/css/fantasy.css" media="screen" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js" ></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script type="text/javascript" src="/static/js/fantasy.js" ></script>
        <script type="text/javascript" src='/static/js/mustache.js'></script>
    </head>
    <body>
        <div class="hd">
            <div class="inner-header">
                <h1>Wandering Through Design</h1>
            </div>
        </div>
        
        <div class="bd">
            <div class="module floating loading">
                <div class="module-header">
                </div>
                <div class="module-body">
                    Now loading your data
                </div>
                <div class="module-footer">
                </div>
            </div>
        </div>
        <div id="ft">
        </div>
    </body>

    <script type="text/html" id="stats-table-template">
        {% raw %}
        <div class="module floating">
            <div class="view-list">
                <span>Show: </span>
                <a href="#" week="0">Season</a>
                <a href="#" week="{{ currentWeek }}">Current Week</a>
                {{ #allWeeks }}
                    <a href="#" week="{{.}}">{{.}}</a>
                {{ /allWeeks }}
            </div>
            <div class="module-header">
            </div>
            <div class="module-body">
                <table id="fantasy-table">
                    <thead>
                        <tr>
                            {{ #columns }}
                            <th>{{ . }}</th>
                            {{ /columns }}
                        </tr>
                    </thead>
                    <tbody>
                        {{ #leagueStats }}
                        <tr>
                            {{ #. }}
                            <td>
                                {{ . }}
                            </td>
                            {{ /. }}
                        </tr>
                        {{ /leagueStats }}
                    </tbody>
                </table>
            </div>
            <div class="module-footer">
            </div>
            <div class="option-list">
                <a class="show-table" href="#" >Compare By Table</a>
                <a class="show-chart" href="#" >Compare By Chart</a>
            </div>
        </div>
        {% endraw %}
    </script>

    <script type="text/html" id="stats-chart-template">
        {% raw %}
        <div id="stats-list" class="module floating">
            <div class="view-list">
            {{ #departing }}
            <a href="#" week="{{.}}">{{.}}</a>
            {{ /departing }}
            </div>
            <div id="container-barchart" style="width:100%; height:400px;">
            </div>
            <div class="option-list">
                <span>Show: </span>
                <a class="show-table" href="#" >Compare By Table</a>
                <a class="show-chart" href="#" >Compare By Chart</a>
            </div>
        </div>
        {% endraw %}
    </script>
</html>
