<!DOCTYPE html>
<html>
    <head>
        <title>Wandering Through Design - Fantasy Rankings</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/global.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/css/fantasy.css" media="screen" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js" ></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script type="text/javascript" src="/static/js/fantasy.js" ></script>
        <script type="text/javascript" src='/static/js/mustache.js'></script>
    </head>
    <body>
        <div class="hd">
            <div class="inner-header">
                <h1>Wandering Through Design</h1>
            </div>
        </div>
        
        <div class="bd">
            <div class="loading">
                Now loading your data
            </div>
        </div>
        <div id="train-data">
        </div> 
        <div id="ft">
        </div>
    </body>
    <script type="text/html" id="stats-chart">
        {% raw %}
        <div id="stats-list" class="module">
        {{ #departing }}
            <a href="#" week="{{.}}">{{.}}</a>
        {{ /departing }}
        </div class="module">
        <div class="module">
            <div id="container-barchart" style="width:100%; height:400px;"></div>
        </div>
        {% endraw %}
    </script>
</html>
