.module {
    width: 1120px;
    margin: 10px auto 0px auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

/* Small Screen ----------- */
@media only screen 
and (max-height : 450px) {
  .floating {
    position: relative;
    margin: 10px auto auto auto;
  }
}

/* Small Laptop Screen ----------- */
@media only screen
and (min-height : 450px)
and (max-height : 525px) {
  .floating {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}

/* Normal Screen ----------- */
@media only screen
and (min-height : 525px){
  .floating {
    position: relative;
    top: 50px;
    margin: auto;
    }
}

.module .module-header {
    min-height: 15px;
    background-color: #4B4A3C;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.module .module-body{
    background-color: #cccccc;
}

.module .module-body table {
    border-collapse: collapse;
    width: 100%
}

.module thead th:hover {
    background-color: #b2b2b2;
}

.module tbody td {
    text-align: center;
}

.module tbody tr:hover {
    background-color: #b2b2b2;

}

.module .module-footer {
    min-height: 15px;
    background-color: #4B4A3C;
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* unvisited link */
.module a:link {
    color: #000000;
}

/* visited link */
.module a:visited {
    color: #000000;
}

.current-view {
    text-decoration: none;
}

.module a{
    padding-left: 5px;
}
